body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 20px;
    padding-top: 30px;
}
.half-width img{
    width: 58%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700s;
    padding: 10px 40px;
    border-radius: 10px;
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 15%;
}
.exprience-ex{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.exprience-item{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px gray;
    border-left: 8px solid palevioletred;
}
#full-stack-developer{
    border-left: 8px solid tomato;
}
#baby-developer{
    border-left: 8px solid blue;
}
footer p{
    text-align: center;
}