body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 20px;
    padding-top: 30px;
}
.half-width img{
    width: 58%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700s;
    padding: 10px 40px;
    border-radius: 10px;
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(dream-big.png);
}